<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--db config file in top-->
    <properties resource="db.properties" >
        <property name="pwd" value="123"/>
    </properties>
    <!--use alias-->
    <typeAliases>
        <typeAlias type="com.he.pojo.User" alias="user"/>
        <package name="com.he.dao"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncode=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${name}"/>
                <property name="password" value="${pwd}}"/>
            </dataSource>

        </environment>
    </environments>
    <!-- mapper.xml register-->
    <mappers>
<!--        <mapper resource="com/he/dao/UserMapper.xml" />-->
       <!-- <mapper class="com.he.dao.UserDao"/>-->
        <!--当前这个 和上一个 只能有一个配合，不能有两个个配置信息，
        如果要同时使用需要将 名字统一为 UserMap-->

        <!--<mapper class="com.he.dao.UserDao"/>  名称不需一样，并且在同一个目录-->
        <mapper resource="com/he/dao/*Mapper.xml" />
    </mappers>
</configuration>